@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br />

<a class="btn btn-success rounded-pill mb-5" href="/Boards/New">
    <i class="bi bi-plus"></i> Adaugare Board
</a>

<div class="row">

    @foreach (var board in ViewBag.Boards)
    {
        <div class="col-4 mb-4">
            <div class="card bg-dark text-white">
                <div class="card-body">

                    <h5 class="card-title" name="Name">@board.Name</h5>

                    @if (ViewBag.EsteAdmin)
                    {
                        <div><i class="bi bi-person text-muted"> Creat de: @board.User.UserName</i></div>
                    }
                    <br />

                    <div style="display: flex; gap: 10px;">
                        <a class="btn btn-outline-success" href="/Boards/Show/@board.Id">Afisare Board</a>
                        <form method="post" action="/Boards/Delete/@board.Id">
                            <button class="btn btn-outline-danger" type="submit">Sterge Board-ul</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
