html {
    font-size: 14px;
    background-color: #121212;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.navbar {
    background-color: #121212 !important;
    border: none !important;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5) !important;
}

a.nav-link {
    color: #ffffff !important;
}

    a.nav-link:hover {
        color: #00b894 !important;
    }

.logoutbtn {
    color: #ffffff !important;
}

    .logoutbtn:hover {
        color: #00b894 !important;
    }

#multiple-select-field + .select2-container--bootstrap5 .select2-selection--multiple .select2-selection__choice {
    background-color: #00b894 !important; /* Green for selected items */
    color: white !important;
}

#multiple-select-field + .select2-container--bootstrap5 .select2-results__option:hover:not(.select2-results__option--selected) {
    background-color: #444 !important; /* Dark grey for hover options that are not selected */
}

#multiple-select-field + .select2-container--bootstrap5 .select2-results__option.select2-results__option--selected:hover {
    background-color: #00b894 !important; /* Green for already selected options on hover */
    color: white !important;
}

#multiple-select-field + .select2-container--bootstrap5 .select2-results__option.select2-results__option--selected {
    background-color: #00b894 !important; /* Green for already selected options */
    color: white !important;
}

/* Options that are not selected */
#multiple-select-field + .select2-container--bootstrap5 .select2-results__option:not(.select2-results__option--selected) {
    background-color: #333 !important; /* Dark grey background for options that are not selected */
}

img {
    width: 10%;
    height: auto;
    border-radius: 15%;
}

.card {
    background-color: #121212 !important;
    border-radius: 15px;
}

body {
    background-color: #000 !important;
}
a {
    text-decoration: none !important;
    color: #00b894;
}
h2 {
    color: #00b894;
}

input, textarea {
    background-color: #333; 
    color: #ffffff;
}
label {
    color: #00b894;
}

h1, h2, h3 {
    color: #00b894;
}

.form-control, .btn-primary {
    background-color: #333; /* Darker background for better readability */
    border: 1px solid #00b894;
    color: #ffffff;
}

    .form-control::placeholder {
        color: #ffffff80; /* Placeholder color with reduced opacity */
    }

    .form-control:focus {
        border-color: #00b894;
        box-shadow: 0 0 0 0.2rem rgba(0, 184, 148, 0.25);
    }
