html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.navbar {
    background-color: #dfe6e9 !important;
    border: none !important;
    box-shadow: 0 3px 12px #636e72 !important;
}

a.nav-link {
    color: #2c2c2c !important;
}

a.nav-link:hover {
    color: #00b894 !important;
}

.logoutbtn {
    color: #2c2c2c !important;
}

.logoutbtn:hover {
    color: #00b894 !important;
}

#multiple-select-field + .select2-container--bootstrap5 .select2-selection--multiple .select2-selection__choice {
    background-color: #28a745 !important; /* Albastru pentru elementele selectate */
    color: white !important;
}

#multiple-select-field + .select2-container--bootstrap5 .select2-results__option:hover:not(.select2-results__option--selected) {
    background-color: grey !important; /* Gri pentru opțiunile hover care nu sunt selectate */
}

#multiple-select-field + .select2-container--bootstrap5 .select2-results__option.select2-results__option--selected:hover {
    background-color: #28a745 !important; /* Albastru pentru opțiunile deja selectate atunci când se face hover */
    color: white !important;
}

#multiple-select-field + .select2-container--bootstrap5 .select2-results__option.select2-results__option--selected {
    background-color: #28a745 !important; /* Albastru pentru opțiunile deja selectate */
    color: white !important;
}

/* Opțiunile care nu sunt selectate */
#multiple-select-field + .select2-container--bootstrap5 .select2-results__option:not(.select2-results__option--selected) {
    background-color: white !important; /* Fond alb pentru opțiunile care nu sunt selectate */
}

