@model SaveIt.Models.Tag

@{
    ViewBag.Title = "Editare Tag";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(controllerName: "Tags", actionName: "Edit", method: FormMethod.Post, routeValues: new { id = Model.Id }))
{
    @Html.Label("TagName", "Nume tag")
    <br />
    @Html.Editor("TagName")
    <br /> <br />

    @Html.ValidationMessageFor(m => m.TagName, null, new { @class = "text-danger" })
    <br /> <br />

    <button class="btn btn-success" type="submit">Modifica Tag-ul</button>
}
