@model SaveIt.Models.Tag

@{
    ViewBag.Title = "Adauga tag";
}

<h2>Adauga tag</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Tags", method: FormMethod.Post))
{
    @Html.Label("TagName", "Nume tag")
    <br />
    @Html.TextBox("TagName", null, new {@class = "form-control"})

    @Html.ValidationMessageFor(m => m.TagName, "", new {@class = "text-danger"})
    <br /> <br />

    <button class="btn btn-success" type="submit">Adauga tag</button>
}