
@{
}

<h2 class="text-center">Afisare Pin-uri</h2> <br />

@if (ViewBag.Message != null)
{
    <h2 class="@ViewBag.Alert p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

@*
<div class="d-flex justify-content-center">
    <a class="btn btn-outline-success" href="/Tags/Index/">Afisare Tag-uri</a>
    <br />
    <a class="btn btn-outline-success" href="/Pins/New">Adauga Pin</a>
    <br />
</div>
*@
<br />



@foreach (Pin pin in ViewBag.Pins)
{
    <div class="card">
        
        @Html.Partial("PinInfo", pin)

        <a class="btn btn-success" href="/Pins/Show/@pin.Id">Afisare Pin</a>
    </div>
    <br /> <br />
}

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="/Pins/Index?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="/Pins/Index?page=@i">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link"
                   href="/Pins/Index?page=@(ViewBag.lastPage)" aria-
                   label="Next">

                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>